body {
    font-family: "Noto Sans JP", sans-serif;
}
main {
    background-color: #ffffff;
}
p{
    font-size: 12;
}
.content {
    margin: 0 6%;
    padding: 6% 0;
}
section {
    margin-top: 10%;
}
.event-dates-title {
    font-size: 16px;
    border-left: 2px solid #00a0ff;
    border-bottom: 2px solid #000000;
    margin-top: 6%;
}
.headline-top {
    border-bottom: #000 2px solid;
    margin-bottom: 4%;
}
.headline {
    border-bottom: #c9c9c9 2px solid;
    margin-bottom: 4%;
}
h1 {
    text-align: center;
}
.google-maps {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}