main {
  background-color: #ffffff;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow:
    0 1px 0 #ff5f00,
    0 2px 0 #ffd700;
  white-space: nowrap;
}

.main-content {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 6%;
}

.event-dates-title {
  font-size: 16px;
  border-left: 2px solid #00a0ff;
  border-bottom: 2px solid #000000;
  margin-top: 6%;
}

.event-month {
  display: flex;
  justify-content: space-around;
  background-color: #ff5f00;
  margin-top: 2%;
  padding: 2%;
  font-size: 22px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.event-days {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.event-day {
  background: linear-gradient(to bottom, #ffd700, #ff5f00);
  width: 48%;
  text-align: center;
}

.event-day h1 {
  font-size: 32px;
  font-weight: normal;
  margin-top: 4%;
}

.event-day p {
  font-size: 12px;
}

.time-info {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
}

.event-location {
  text-align: center;
  margin-top: 2%;
  background-color: #ff5f00;
  font-weight: 500;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.news-item {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  margin-top: 2%;
}

.other-links {
  margin-top: 2%;
  border: 4px solid;
  border-image: linear-gradient(to bottom, #ff5f00, #ffd700) 1;
  padding: 2% 4%;
  background-color: #ffffff;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.other-links li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.other-links .arrow-icon {
  width: 16px;
  height: 16px;
}

.other-links a {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
}

.purchase-ticket-button {
  margin: 0 auto;
  margin-top: 6%;
  text-align: center;
  background-color: #00a0ff;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  border-radius: 16px;
  display: block;
  padding: 4% 0;
  width: 90%;
}
